Rail.Tracks/Tracks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TrackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TrackType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="LanguageString">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Lang" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Manufacturer" type="xs:string" />
                    <xs:element name="Gauge" type="Gauge" />
                    <xs:element name="DockType" type="xs:string" />
                    <xs:element name="RailType" type="RailType" />
                    <xs:element name="RailWidth" type="xs:decimal" />
                    <xs:element name="SleeperType" type="SleeperType" />
                    <xs:element name="SleeperWidth" type="xs:decimal" />
                    <xs:element name="BallastType" type="BallastType" />
                    <xs:element minOccurs="0" name="BallastWidth" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Radii">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Radius">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Length" type="xs:decimal" use="required" />
                        <xs:attribute name="Description" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Lengths">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Length">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Length" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Tracks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="Straight">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="ViewType" type="xs:string" use="optional" />
                          <xs:attribute name="Extra" type="Extras" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Curved">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Radius" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                          <xs:attribute name="RadiusName" type="xs:string" use="optional" />
                          <xs:attribute name="Extra" type="Extras" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Turnout">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="Radius" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                          <xs:attribute name="Direction" type="xs:string" use="required" />
                          <xs:attribute name="Drive" type="xs:string" use="optional" />
                          <xs:attribute name="RadiusName" type="xs:string" use="optional" />
                          <xs:attribute name="AddArticles" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="CurvedTurnout">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="InnerRadius" type="xs:string" use="required" />
                          <xs:attribute name="InnerAngle" type="xs:decimal" use="required" />
                          <xs:attribute name="OuterRadius" type="xs:string" use="required" />
                          <xs:attribute name="OuterAngle" type="xs:decimal" use="required" />
                          <xs:attribute name="Direction" type="xs:string" use="required" />
                          <xs:attribute name="Drive" type="xs:string" use="optional" />
                          <xs:attribute name="AddArticles" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="DoubleSlipSwitch">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                          <xs:attribute name="Radius" type="xs:string" use="required" />
                          <xs:attribute name="Drive" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="DoubleTurnout">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="Radius" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                          <xs:attribute name="Drive" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="YTurnout">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Radius" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Crossing">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length1" type="xs:string" use="required" />
                          <xs:attribute name="Length2" type="xs:string" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="StraightAdjustment">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:decimal" use="required" />
                          <xs:attribute name="LengthTo" type="xs:decimal" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Flex">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="Length" type="xs:string" use="required" />
                          <xs:attribute name="ViewType" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Bumper">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:decimal" use="required" />
                          <xs:attribute name="Lantern" type="xs:boolean" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="EndPiece">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="Adapter">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:decimal" use="required" />
                          <xs:attribute name="DockType" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Turntable">
                        <xs:complexType>
                          <xs:attribute name="Article" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="OuterRadius" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="InnerRadius" type="xs:decimal" use="required" />
                          <xs:attribute name="Angle" type="xs:decimal" use="required" />
                          <xs:attribute name="RailNum" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="TransferTable">
                        <xs:complexType>
                          <xs:attribute name="Id" type="xs:string" use="required" />
                          <xs:attribute name="Article" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="RailsA" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="RailsB" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="Width" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Height" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="Length" type="xs:unsignedShort" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Groups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Group">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="LanguageString">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="Lang" type="xs:string" use="optional" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DockPoints">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="DockPoint">
                                        <xs:complexType>
                                          <xs:attribute name="Id" type="xs:string" use="required" />
                                          <xs:attribute name="DockedWithId" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="TrackId" type="xs:string" use="required" />
                              <xs:attribute name="X" type="xs:decimal" use="required" />
                              <xs:attribute name="Y" type="xs:decimal" use="required" />
                              <xs:attribute name="Angle" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="Gradient" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="Height" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="Layer" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
                            <xs:complexType>
                              <xs:attribute name="Id" type="xs:string" use="required" />
                              <xs:attribute name="X" type="xs:unsignedShort" use="required" />
                              <xs:attribute name="Y" type="xs:decimal" use="required" />
                              <xs:attribute name="Angle" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" use="required" />
                        <xs:attribute name="Name" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Manufacturer" type="xs:string" use="optional" />
            <xs:attribute name="GaugeName" type="xs:string" use="optional" />
            <xs:attribute name="Type" type="xs:string" use="optional" />
            <xs:attribute name="GaugeWidth" type="xs:decimal" use="optional" />
            <xs:attribute name="ViewType" type="xs:string" use="optional" />
            <xs:attribute name="DockType" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Gauge" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="T" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="N" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="H0" />
      <xs:enumeration value="H0e" />
      <xs:enumeration value="00" />
      <xs:enumeration value="S" />
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="G" />
      <xs:enumeration value="Lego" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="RailType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Silver" />
      <xs:enumeration value="Copper" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SleeperType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="WoodenSleepers" />
      <xs:enumeration value="ConcreteSleepers" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BallastType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Dark" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Extras" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Circuit" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="Uncoupler" />
      <xs:enumeration value="Isolating" />
      <xs:enumeration value="Feeder" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>