Rail.Tracks/Tracks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TrackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DockTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="DockType">
                <xs:complexType>
                  <xs:attribute name="Id" type="Guid" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TrackTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TrackType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="LanguageString">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Lang" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Parameter">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Manufacturer" type="xs:string" />
                          <xs:element name="Gauge" type="Gauge" />
                          <xs:element name="DockType" type="Guid" />
                          <xs:element name="RailType" type="RailType" />
                          <xs:element name="SleeperType" type="SleeperType" />
                          <xs:element name="SleeperWidth" type="xs:decimal" />
                          <xs:element name="BallastType" type="BallastType" />
                          <xs:element name="BallastWidth" type="xs:decimal" minOccurs="0" />
                          <xs:element name="WagonMaxWidth" type="xs:decimal" />
                          <xs:element name="WagonMaxBogieDistance" type="xs:decimal" />
                          <xs:element name="WagonMaxBogieFrontDistance" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Radii">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Radius" type="NamedValue"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Lengths">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Length" type="NamedValue"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Angles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Angle" type="NamedValue"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Tracks">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice minOccurs="0" maxOccurs="unbounded">

                            <!-- simple -->

                            <xs:element maxOccurs="unbounded" name="Straight">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="Length" type="Guid" />
                                  <xs:element name="Extra" type="Extras" minOccurs="0" />
                                  <xs:element name="DockType" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="Curved">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="Radius" type="Guid" />
                                  <xs:element name="Angle" type="Guid" />
                                  <xs:element name="Extra" type="Extras" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="Crossing">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="CrossingType" type="CrossingType" />
                                  <xs:element name="Length" type="Guid" />
                                  <xs:element name="LengthB" type="Guid" />
                                  <xs:element name="CrossingAngle" type="Guid" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="EndPiece">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="Length" type="Guid" minOccurs="0" />
                                  <xs:element name="Extra" type="EndType" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="Flex">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="FlexType" type="FlexType" />
                                  <xs:element name="MinLength" type="Guid" minOccurs="0"/>
                                  <xs:element name="MaxLength" type="Guid" minOccurs="0"/>
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>

                            <!-- turnout -->

                            <xs:element maxOccurs="unbounded" name="Turnout">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="TurnoutType" type="TurnoutType" />
                                  <xs:element name="TurnoutDrive" type="Drive" minOccurs="0" />
                                  <xs:element name="StraightLength" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftTurnoutInnerLength" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftTurnoutRadius" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftTurnoutAngle" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftTurnoutOuterLength" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftCounterCurveRadius" type="Guid" minOccurs="0" />
                                  <xs:element name="LeftCounterCurveAngle" type="Guid" minOccurs="0" />
                                  <xs:element name="RightTurnoutInnerLength" type="Guid" minOccurs="0" />
                                  <xs:element name="RightTurnoutRadius" type="Guid" minOccurs="0" />
                                  <xs:element name="RightTurnoutAngle" type="Guid" minOccurs="0" />
                                  <xs:element name="RightTurnoutOuterLength" type="Guid" minOccurs="0" />
                                  <xs:element name="RightCounterCurveRadius" type="Guid" minOccurs="0" />
                                  <xs:element name="RightCounterCurveAngle" type="Guid" minOccurs="0" />
                                  <xs:element name="AddArticles" type="xs:string" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="CurvedTurnout">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="TurnoutDirection" type="TurnoutDirection" />
                                  <xs:element name="TurnoutDrive" type="Drive" minOccurs="0" />
                                  <xs:element name="InnerLength" type="Guid"  minOccurs="0"/>
                                  <xs:element name="InnerRadius" type="Guid" />
                                  <xs:element name="InnerAngle" type="Guid" />
                                  <xs:element name="OuterLength" type="Guid"  minOccurs="0"/>
                                  <xs:element name="OuterRadius" type="Guid" />
                                  <xs:element name="OuterAngle" type="Guid" />
                                  <xs:element name="AddArticles" type="xs:string" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="DoubleSlipSwitch">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="TurnoutDrive" type="Drive" minOccurs="0" />
                                  <xs:element name="Length" type="Guid" />
                                  <xs:element name="CrossingAngle" type="Guid" />
                                  <xs:element name="SlipRadius" type="Guid" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="DoubleCrossover">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:string" />
                                  <xs:element name="Length" type="Guid" />
                                  <xs:element name="CrossingAngle" type="Guid" />
                                  <xs:element name="SlipRadius" type="Guid" />
                                  <xs:element name="TurnoutDrive" type="Drive" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>

                            <!-- special -->
                            
                            <xs:element maxOccurs="unbounded" name="Table">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Article" type="xs:unsignedInt" />
                                  <xs:element name="TableType" type="TableType" />
                                  <xs:element name="DeckLength" type="Guid" />
                                  <xs:element name="ConnectionLength" type="Guid" />
                                  <xs:element name="ConnectionDistance" type="Guid" minOccurs="0" />
                                </xs:sequence>
                                <xs:attribute name="Id" type="Guid" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- groups -->

                    <xs:element minOccurs="0" name="Groups">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Group">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="LanguageString">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="Lang" type="xs:string" use="optional" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupItem">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DockPoints">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="DockPoint">
                                              <xs:complexType>
                                                <xs:attribute name="Id" type="xs:string" use="required" />
                                                <xs:attribute name="DockedWithId" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="TrackId" type="xs:string" use="required" />
                                    <xs:attribute name="X" type="xs:decimal" use="required" />
                                    <xs:attribute name="Y" type="xs:decimal" use="required" />
                                    <xs:attribute name="Angle" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="Gradient" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="Height" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="Layer" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
                                  <xs:complexType>
                                    <xs:attribute name="Id" type="xs:string" use="required" />
                                    <xs:attribute name="X" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="Y" type="xs:decimal" use="required" />
                                    <xs:attribute name="Angle" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Id" type="xs:string" use="required" />
                              <xs:attribute name="Name" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Manufacturer" type="xs:string" use="optional" />
                  <xs:attribute name="GaugeName" type="xs:string" use="optional" />
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                  <xs:attribute name="GaugeWidth" type="xs:decimal" use="optional" />
                  <xs:attribute name="ViewType" type="xs:string" use="optional" />
                  <xs:attribute name="DockType" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="NamedValue">
    <xs:attribute name="Id" type="Guid" use="optional" />
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Value" type="xs:decimal" use="required" />
  </xs:complexType>
  
  <xs:simpleType name="Gauge" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="T" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="N" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="H0" />
      <xs:enumeration value="H0e" />
      <xs:enumeration value="00" />
      <xs:enumeration value="S" />
      <xs:enumeration value="0" />
      <xs:enumeration value="L" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="G" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="RailType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Silver" />
      <xs:enumeration value="Brass" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SleeperType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="WoodenSleepers" />
      <xs:enumeration value="ConcreteSleepers" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BallastType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Dark" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Extras" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Circuit" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="Uncoupler" />
      <xs:enumeration value="Isolating" />
      <xs:enumeration value="Feeder" />
      <xs:enumeration value="Adapter" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EndType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="End" />
      <xs:enumeration value="Bumper" />
      <xs:enumeration value="BumperWithLantern" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="TurnoutType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Three" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TurnoutDirection" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Drive" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Electrical" />
      <xs:enumeration value="Mechanical" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="StarNumber" >
    <xs:restriction base="xs:unsignedShort">
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FlexType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Flex" />
      <xs:enumeration value="Adjustment" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CrossingType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simple" />
      <xs:enumeration value="Asymmetrical" />
      <xs:enumeration value="Trible" />
      <xs:enumeration value="Quatro" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TableType" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="Turntable24" />
      <xs:enumeration value="Turntable30" />
      <xs:enumeration value="Turntable40" />
      <xs:enumeration value="Turntable48" />
      <xs:enumeration value="Transfer55" />
      <xs:enumeration value="Transfer57" />
      <xs:enumeration value="Segment320" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="Guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>